/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Full-page background */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    color: white;
    background-image: url('../assets/images/landing/hero.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Container */
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    
    /* background-image: url('../assets/images/landing/hero-solar-system.png'), url('hero.png'); */
    background-position: center, center;
    background-size: contain, cover;
    background-repeat: no-repeat, no-repeat;
    background-attachment: fixed, fixed;
    padding-left: 8%;
    position: relative; 
}

/* Solar System Image */
.solar-system {
    position: absolute;
    left: 0;
    max-width: 40%;
    height: auto;
}

/* Text content */
.content {
    max-width: 40%;
    text-align: left;
    margin-left: auto; /* Push text to the right */
}

/* Title */
h1 {
    font-size: 2.5em;
    margin-bottom: 15px;
}

/* Description */
p {
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 20px;
}

/* Button */
.explore-button {
    display: inline-flex;
    align-items: center;
    background-color: white;
    color: black;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.3s ease;
    margin-top: 10px;
}

.explore-button:hover {
    background-color: #ddd;
    transform: scale(1.05);
}

/* Arrow icon */
.arrow {
    margin-left: 10px;
    font-size: 20px;
}

/* About us section */
.about-section {
    display: flex;
    align-items: center;
    margin-top: 50px;
    opacity: 0.8;
}

.about {
    font-size: 14px;
    margin: 0 10px;
}

.line {
    width: 50px;
    height: 1px;
    background-color: white;
}
